#*
*#
*.log
*.swp
*~
.DS_Store
.blobs
.blobs/
.dev_builds
.dev_builds/
.final_builds/
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
.vagrant
blobs/*
config/dev.yml
config/private.yml
config/settings.yml
dev_releases
dev_releases/
manifests/
my*.yml
nodes/
releases/*.tgz
src/*
stemcells/
tmp/
